<div class="container">
  <main>
    <h1 id="title" class="text-center text-primary mt-5">Tanulmányok</h1>
    <div id="content" class="mt-5 d-flex justify-content-center">
      <div class="card" style="width:100%">
        <h1 class="align-self-center"><span style="color:rgb(234, 87, 33);margin-right: 10px;">Ruander</span> <span
            style="color:rgb(0, 138, 191);">Oktatásiközpont</span></h1>
        <div class="card-body">
          <h3 class="card-title text-center text-white">Junior Frontend képzés</h3>
          <h4 class="card-title text-center text-white">2021-2022</h4>
          <h3 class="card-title text-center text-danger mb-4">Junior Frontend szakképesítés</h3>
          <p class="text-center" data-bs-toggle="collapse" href="#stacks" aria-expanded="false" aria-controls="stacks">
            <i class="bi bi-arrow-down-up"></i></p>
        </div>
        <ul class="list-group list-group-flush text-center collapse" id="stacks">
          <li class="list-group-item">HTML</li>
          <li class="list-group-item">CSS</li>
          <li class="list-group-item">Bootstrap</li>
          <li class="list-group-item">JavaScript</li>
          <li class="list-group-item">JQuery</li>
          <li class="list-group-item">TypeScript</li>
          <li class="list-group-item">Angular</li>
          <li class="list-group-item">Nodejs</li>
          <li class="list-group-item">SQL, MySQL</li>
          <li class="list-group-item">MongoDB</li>
        </ul>
      </div>
    </div>
  </main>
</div>
