#title{
    font-size: 4rem;
}

.card{
    padding:10px;
    background-color: rgba(37, 38, 37,0.6);
    
}

.card h1,h3,h4{
    letter-spacing: 2px;
}

ul,li{
    background-color: rgba(37, 38, 37,0.6);
    color:white
}

li{
    color:rgb(0, 138, 191);
}

p{
    font-size: 2rem;
    color: rgba(10, 10, 10,0.8);
}
p:hover{
    color:#0c60e8;
    cursor: pointer;
}