#content{
    margin: 0px auto;
    background-color: rgba(37, 38, 37,0.6);
    box-shadow: 0px 10px 10px 0px #3b3b3b;
    height: max-content;
    border-radius: 20px;
}

#content img{
    opacity: 0.8;
}

#content #text-block{
    margin: 0px auto;
    line-height: 2.2rem;
    padding: 20px;
}

#content h1{
    letter-spacing: 8px;
    color: #0c60e8;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
}

#content h3{
    font-size: 1.6rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
}

#content h3::before{
    content: "-";
    margin-right: 2px;
}