<div class="container">
  <main>
    <div id="content" class="mt-5">
      <h1 id="title" class="text-center text-primary mb-5">Képességeim</h1>
      <mat-card>
        <div class="row align-items-center">
          <div class="col-md-6 col-sm-12">
            <div class="container mt-5">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                  <h1 class="text-primary">HTML</h1>
                </div>
                <div class="col-lg-9 col-md-12">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="animation: html_progress 3s both;"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="container mt-5">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                  <h1 class="text-primary">CSS3</h1>
                </div>
                <div class="col-lg-9 col-md-12">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="animation: css_progress 3s both;"
                      aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="container mt-5">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                  <h1 class="text-primary">Bootstrap</h1>
                </div>
                <div class="col-lg-9 col-md-12">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="animation: bs_progress 3s both;"
                      aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="container mt-5">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                  <h1 class="text-primary">JavaScript</h1>
                </div>
                <div class="col-lg-9 col-md-12">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="animation: js_progress 3s both;"
                      aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="container mt-5">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                  <h1 class="text-primary">JQuery</h1>
                </div>
                <div class="col-lg-9 col-md-12">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="animation: jq_progress 3s both;"
                      aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="container mt-5">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                  <h1 class="text-primary">TypeScript</h1>
                </div>
                <div class="col-lg-9 col-md-12">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="animation: ts_progress 3s both;"
                      aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="container mt-5">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                  <h1 class="text-primary">Angular</h1>
                </div>
                <div class="col-lg-9 col-md-12">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="animation: ang_progress 3s both;"
                      aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="container mt-5">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                  <h1 class="text-primary">NodeJS</h1>
                </div>
                <div class="col-lg-9 col-md-12">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="animation: node_progress 3s both;"
                      aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="container mt-5">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                  <h1 class="text-primary">SQL / MySQL</h1>
                </div>
                <div class="col-lg-9 col-md-12">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="animation: sql_progress 3s both;"
                      aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="container mt-5">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                  <h1 class="text-primary">MongoDb</h1>
                </div>
                <div class="col-lg-9 col-md-12">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="animation: mongo_progress 3s both;"
                      aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </main>
</div>
