html, body { min-height: 100vh }
body { 
    min-height: 100vh;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right,#2a2a2a,#4a4a4a);
    background-image: -webkit-linear-gradient(to bottom right,#2a2a2a,#4a4a4a); 
    background-image: -moz-linear-gradient(to bottom right,#2a2a2a,#4a4a4a); 
    background-image: -ms-linear-gradient(to bottom right,#2a2a2a,#4a4a4a); 
    background-image: -o-linear-gradient(to bottom right,#2a2a2a,#4a4a4a); 
    cursor: default;
    scroll-behavior: smooth;
}


main{
    position: relative;
    top: 0px;
    padding-bottom: 20px;
}
